*.iml
.gradle
/local.properties
/gradle.properties
.gradle.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
shelved.patch
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
gradle.properties



# Firebase キー
**/google-services.json
/.idea/shelf/2025_08_31_21_04_の_マージ_前の未コミットの変更_[変更]/shelved.patch
/.idea/shelf/2025_08_31_21_04_の_マージ_前の未コミットの変更_[変更]/shelved.patch
